<div class="modal modal_small modal_dark js-watchModal">

  <div class="modal__inner _relative">
    <h2 class="modal__title">О проекте</h2>

    <div class="modal__video">
      <div class="iframeWrapper">
        <iframe class="iframe iframe_responsive" src="https://www.youtube.com/embed/62WWcs9EY1w"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="modal__text">
      Мы создаем глобальную экосистему для предоставления полного цикла услуг в финансовой отрасли
    </div>

    <div class="modal__closeBtn js-closeBtn">

      <div class="iconClose animatedCircleWrapper">
        <div class="iconClose__item"></div>
        <div class="iconClose__item"></div>
        <div class="animatedCircle"></div>
      </div>

    </div>
  </div>
</div>


<header class="header">
  <div class="header__logo logo">
    <a href="/" class="logo">
      <div class="logo__img">
        <img src="images/logo.svg" alt="symbol ss"/>
      </div>
      <div class="logo__text">Sincere</div>
    </a>
  </div>
  <div class="header__nav nav">
    <div class="nav__item nav__link active">Главная</div>
    <div class="nav__item nav__link">Платформа</div>
    <div class="nav__item nav__link">Сервисы</div>
    <div class="nav__item nav__link">Медиацентр</div>
    <div class="nav__item nav__link">Карьера</div>
    <div class="nav__item nav__link">FAQ</div>
    <div class="nav__item nav__lang animatedCircleWrapper">
      <img src="images/ru.png" alt="Russian flag"/>

      <div class="animatedCircle"></div>
    </div>
    <div class="nav__item nav__btn">
      <button class="btn btn_transparent">
        <div class="animatedBorder"></div>
        <div class="btn__text">Личный кабинет</div>
      </button>
    </div>
  </div>
</header>

<main class="main">
  <div class="main__bg bg">
    <div class="bg__img">
      <img src="images/city-bg.svg" alt="city lineation"/>
    </div>
    <div class="bg__symbol">
      <svg viewBox="0 0 31 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4695 21.713L9.02568 12.1402V3.74106L5.48111 5.79498V14.1941L21.9615 23.7303V32.1294L25.4695 30.1121V21.713Z"/>
        <path d="M23.0577 5.64829L24.3732 6.41853V11.1499L23.0577 10.3797V5.64829ZM21.9615 3.74106V11.0032L25.4695 13.0571V5.79498L21.9615 3.74106Z"/>
        <path d="M6.57736 24.7572L7.89287 25.5275V30.2588L6.57736 29.4886V24.7572ZM5.48111 22.85V30.1121L8.98912 32.1661V24.8673L5.48111 22.85Z"/>
        <path d="M28.5393 8.83929L29.8548 9.60953V14.3409L28.5393 13.5707V8.83929ZM27.4431 6.93204V14.1942L30.9511 16.2481V8.98598L27.4431 6.93204Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4805 4.65803L15.4939 4.07119L14.5072 4.65803V8.98597L30.9876 18.5221V26.9212L27.443 28.9752V20.576L10.9992 11.0032V2.6041L15.4939 0L19.9885 2.6041V9.86623L16.4805 7.84895V4.65803Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4804 31.2492L15.4937 31.7993L14.5071 31.2492V28.0582L10.9991 26.041V33.3031L15.4937 35.9072L19.9884 33.3031V24.8673L3.50802 15.3312V6.93204L0 8.98598V17.3851L16.4804 26.9213V31.2492Z"/>
        <path d="M1.09625 21.5663L2.41176 22.3365V27.0679L1.09625 26.2977V21.5663ZM0 19.6591V26.9212L3.50802 28.9751V21.713L0 19.6591Z"/>
      </svg>
      <div class="bg__circle circle"></div>
    </div>
  </div>
  <div class="main__welcome">
    <div class="welcome">
      <h1 class="welcome__title">Добро пожаловать в Sincere Group</h1>

      <div class="welcome__text">
        Мы создаем глобальную экосистему для предоставления полного цикла услуг в
        финансовой отрасли
      </div>
      <div class="welcome__btn">
        <div class="btn btn_default js-watchBtn">
          <div class="btn__icon animatedCircleWrapper">
            <div class="watchIcon">
            </div>
            <div class="animatedCircle"></div>
          </div>
          <div class="btn__text">Узнать больше</div>
        </div>

      </div>
    </div>
  </div>

  <div class="main__parallax">
    <div class="parallax js-parallaxContainer">
      <img class="parallax__img parallax__card js-parallaxCard" src="images/ss-main-card.png" alt="phone in hand"/>
      <img class="parallax__img parallax__hand js-parallaxHand" src="images/ss-hand.png" alt="phone in hand"/>
      <img class="parallax__img parallax__coin js-parallaxCoin" src="images/ss-main-token.png" alt="phone in hand"/>
    </div>
  </div>
  <footer class="footer"></footer>
</main>


