<div class="modal modal_small modal_dark js-watchModal">

  <div class="modal__footballer js-footballer">
    <img src="images/chanel.jpg" alt="footballer"/>

    <div class="icon icon_close js-closeBtn">
      <div class="btn__inner">
        <div class="btn__icon iconClose">
          <div class="iconClose__item"></div>
          <div class="iconClose__item"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<header class="header">
  <div class="header__logo logo">
    <div class="logo">
      <div class="logo__img">
        <img src="images/logo.svg" alt="symbol ss"/>
      </div>
      <div class="logo__text">sincere</div>
    </div>
  </div>
  <div class="header__nav nav">
    <div class="nav__item nav__link active">Главная</div>
    <div class="nav__item nav__link">Платформа</div>
    <div class="nav__item nav__link">Сервисы</div>
    <div class="nav__item nav__link">Медиацентр</div>
    <div class="nav__item nav__link">Карьера</div>
    <div class="nav__item nav__link">FAQ</div>
    <div class="nav__item nav__lang">
      <img src="images/ru.png" alt="Russian flag"/>
    </div>
    <div class="nav__item nav__btn">
      <button class="btn btn_transparent">Личный кабинет</button>
    </div>
  </div>
</header>

<main class="main">
  <div class="main__bg bg">
    <div class="bg__img"></div>
    <div class="bg__symbol"></div>
  </div>
  <div class="main__welcome welcome">
    <h1 class="welcome__title">Добро пожаловать в Sincere Group</h1>

    <div class="welcome__text">
      Мы создаем глобальную экосистему для предоставления полного цикла услуг в
      финансовой отрасли
    </div>
    <div class="welcome__btn btn btn_default js-watchBtn">
      <div class="btn__icon">
        <div class="watchIcon"></div>
      </div>
      <div class="btn__text">Watch TV spot</div>
    </div>
  </div>
</main>


