* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}
html, body {
  height: 100%;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  color: $second;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: normal;
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
}
button, a, input, textarea {
  outline: none;
}
p {
  margin: 1em 0;
}
ul, ol {
  margin: 1em 0;
}
.header {
  background-color: #030303;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 36px;
  grid-template-areas: "logo" "nav";
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $base-light;
  gap: 25px;
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "logo nav";
  }
  &__logo {
    grid-area: logo;
  }
  &__nav {
    grid-area: nav;
    justify-self: end;
  }
}
@media (min-width: 1024px) {
  .header {
  }
}
.logo {
  height: 36px;
  display: grid;
  grid-template-columns: 31px 1fr;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  &__text {
    color: $second;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    transform: translateY(-3px);
    text-transform: lowercase;
  }
}
.nav {
  display: grid;
  align-items: center;
  grid-template-rows: 36px;
  grid-template-columns: repeat(8, max-content);
  gap: 25px;
  &__item {
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    font-weight: 600;
    opacity: .7;
    transition: opacity .3s;
    position: relative;
    color: $second;
    &.active, &:hover {
      transition: opacity .3s;
      opacity: 1;
    }
    &:hover {
      &:after {
        width: 100%;
        opacity: .5;
      }
    }
    &:after {
      content: '';
      height: 1px;
      background-color: $second;
      width: 0;
      position: absolute;
      left: 0;
      bottom: -3px;
      transition: all .5s;
    }
  }
  &__lang {
    width: 20px;
    height: 20px;
    padding: 3px;
    box-sizing: content-box;
    z-index: 2;
    img {
      display: block;
      width: 100%;
    }
  }
}
.main {
  position: relative;
  background-color: #181818;
  height: 100%;
  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
  &__welcome {
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 110px;
    z-index: 5;
  }
  &__parallax {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
    overflow: hidden;
  }
}
.welcome {
  width: 38%;
  &__title {
    font-family: $font-family-medium;
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 40px;
  }
  &__text {
    line-height: 26px;
    opacity: .5;
    width: 75%;
    margin-bottom: 45px;
  }
  &__btn {
    max-width: 210px;
  }
}
.modal {
  width: 100vw;
  height: 100vh;
  transform: scale(.5);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  &_small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_dark {
    position: absolute;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
  }
  &__inner {
    padding: 20px 30px;
    width: 50%;
    background-color: $second;
    z-index: 99;
  }
  &__title {
    color: $base;
    font-family: $font-family-medium;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 20px;
  }
  &__video {
    margin-bottom: 20px;
  }
  &__text {
    color: #a1a0ae;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
  }
  &__closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
.iframe {
  &_responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.iframeWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 5px 25px;
  color: $second;
  height: 36px;
  &:hover {
    cursor: pointer;
  }
  &_default {
    background: linear-gradient(90deg, #3a26a9 0%, #3c49e1 47.62%, #01e6f0 101.58%);
    height: 43px;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    transition: all .3s;
    &:hover {
      box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.75);
      .animatedCircle {
        transform: scale(2);
        transition: all .3s;
        opacity: 0;
      }
      .btn__text {
        opacity: .8;
      }
    }
  }

  &_transparent {
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(124, 124, 124, 0.3);
    transition: opacity .3s, transform .3s;
    &:hover {
      color: $base;
      z-index: 2;
      .animatedBorder {
        background-color: $second;
        opacity: 1;
        transition: all .3s;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid rgba(255, 255, 255, 1);
    }
  }
  &__text {
    z-index: 3;
  }
  &__icon {
    width: 34px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    .animatedCircle {
      transform: scale(1);
    }
  }
}
.animatedBorder {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  border-radius: 100px;
  width: 100%;
  border: 1px solid $second;
  opacity: 0;
  transition: all .7s;
}
.animatedCircle {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid rgba(124, 124, 124, 1);
  transition: opacity .3s, transform .3s;
}
.animatedCircleWrapper {
  position: relative;
  &:hover {
    .animatedCircle {
      transform: scale(2);
      transition: all .3s;
      opacity: 0;
    }
  }
}
.iconClose {
  position: relative;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  opacity: .3;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &__item {
    position: absolute;
    background: $base-light;
    width: 12px;
    height: 1px;
    top: calc(50% - 1px);
    left: 0;
    &:first-child {
      transform: rotate(90deg);
    }
  }
  .animatedCircle {
    transform: scale(0);
    transition: all .3s;
  }
}
.watchIcon {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid $second;
  border-bottom: 6px solid transparent;
  transform: translateX(2px);
}
.bg {
  display: flex;
  align-items: center;
  &__symbol {
    width: 476px;
    height: 476px;
    position: relative;
    transform: translateX(-110px);
    svg {
      position: relative;
      height: 100%;
      z-index: 1;
      opacity: .9;
      path {
        fill: #121719;
      }
    }
  }
  &__circle {
    position: absolute;
    left: 5%;
    top: 5%;
  }
  &__img {
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
    }
  }
}
.circle {
  background-color: #536671;
  opacity: .2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 90px 60px rgba(83, 102, 113, 1);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 156px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  &__img {
    display: block;
    position: absolute;
    right: 0;
  }
  &__card {
    width: 346px;
    bottom: 20%;
  }
  &__hand {
    width: 700px;
    bottom: 0;
  }
  &__coin {
    width: 320px;
    bottom: 0;
    right: -60px;
  }
}
/******* atomic classes *******/
._fixed {
  overflow: hidden;
}
._relative {
  position: relative;
}
/******* end_atomic classes *******/
